:root {
    --cor_de_fundo:#15b457;
    --cor_primeira_fonte:#139664;
}
:root {
    --cor_de_fundo:#42dd05;
    --cor_primaira_fonte:#0debc6;
}
* {
    margin: 0;
    padding: 0;
}
.banner {
    width: 100%;
    height: 50px;
    background-color: var(--cor_de_fundo);
}
.conteudo {
    width:100%;
    height: 50px;
}
h1{
    font-size: 100%;
    text-align: center;
    width:100%;
    height: 50px;
}
h2{
    font-size: 100%;
    text-align: center;
    width:100%;
    height: 50px;
}

h3{
    font-size: 100%;
    text-align: center;
    width:60%;
    height: 50px;
}
.conteudo2{
    width:100%;
    height: 50px;
    
}
h4{
    font-size: 100%;
    text-align: center;
    width:60%;
    height: 50px; 
}
h5{
    font-size: 100%;
    text-align: center;
    width:60%;
    height: 50px;
   
}
